:root {
 --clr-background: #f4f4f4;
 --clr-text: #202020;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

*{
  margin: inherit,;
  padding: inherit;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-text);
}
